@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-image: url(/foto/background-bromo.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* border: 2px solid blue; */
  align-items: center;
  align-content: center;
}

.content-container {
  border-radius: 30px;
  background-color: rgba(152, 149, 149, 0.7);
  margin: 60px auto;
  width: 80%;
  padding: 20px 0;
}

.about-section {
  /* border: 2px solid orange; */
  text-align: center;
  margin-bottom: 100px;
}

.about-section p,
.team-section p {
  font-size: 20px;
  padding: 0 100px;
}

/* .about-section h2 {
  text-align: center;
} */

.team-section {
  /* border: 2px solid yellow; */
  text-align: center;
}

.rowFE,
.rowBE {
  display: flex;
  /* border: 2px solid red; */
  padding: 20px;
}
.profile-container {
  /* border: 2px solid pink; */
  margin: 0 auto;
}
.profile-container h3 {
  font-size: 25px;
}

.profile-container p {
  font-size: 18px;
}

.profile-img {
  height: 200px;
  margin-bottom: 20px;
  border-radius: 100px;
  /* overflow: hidden; */
}
